<section class="content-section container">

  <img class="about-band-image" src="../../assets/img/Smoky band.jpg">
  <p>Smokie (scris inițial Smokey) este o trupă rock engleză din Bradford, Yorkshire. Trupa a găsit succes în țară și în străinătate după ce a făcut echipă cu Mike Chapman și Nicky Chinn. Au suferit o serie de schimbări în line-up și au fost încă în turneu activ în 2018. Cel mai popular hit al lor, „Living Next Door to Alice”, a ajuns pe locul 3 în UK Singles Chart[2] și, în martie 1977 , a ajuns pe locul 25 în Billboard Hot 100, precum și pe locul 1 în topul australian de single-uri.[3] Alte single-uri de succes includ „If You Think You Know How to Love Me”, „Oh Carol”, „Lay Back in the Arms of Someone” și „I’ll Meet You at Midnight”..</p>
</section>
<br>
<section class="content-section container">

  <img class="about-band-image" src="../../assets/img/ABBA1.jpg">
  <p>
    ABBA este o formație suedeză de muzică pop activă din 1972 până în 1982, reunindu-se în 2016. Trupa este formată din muzicienii Benny Andersson și Björn Ulvaeus, Anni-Frid Lyngstad și Agnetha Fältskog. Cei patru au dominat clasamentele muzicale mondiale între mijlocul anilor 1970 și începutul anilor 1980.
  </p>
</section>


