<header class="main-header">
  <h2 class="band-name band-name-large">Turnee Formatii de Muzica </h2>

  <nav class="nav main-nav">
      <ul>
          <!-- <li><a href="index.html">HOME</a></li> -->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">ACASA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active">ADMIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/turneu']" routerLinkActive="router-link-active">TURNEU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/produs']" routerLinkActive="router-link-active">MAGAZIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bilet']" routerLinkActive="router-link-active">BILETE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">LOGIN</a>
          </li>


      </ul>
  </nav>

</header>
