<footer class="main-footer">
  <div class="container main-footer-container">
      <h3 class="band-name">Music Band</h3>
      <ul class="nav footer-nav">
          <li>
              <a href="https://www.youtube.com/watch?v=WoTLnaI1NEY&list=RDEMKSacR3HuVFRS609iMOSyAw&index=6" target="_blank">
                  <img src="../../assets/img/YouTube Logo.png">
              </a>
          </li>
          <li>
              <a href="https://open.spotify.com/playlist/5OJALEcMoN5XXrfcWo3UeR?si=9c6fd1fb68284117" target="_blank">
                  <img src="../../assets/img/Spotify Logo.png">
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/watch/?ref=search&v=2222853007976362&external_log_id=41df3df0-40e1-45d1-a26b-eea523dee4bf&q=Smokie%20band"
              target="_blank">
                  <img src="../../assets/img/Facebook Logo.png">
              </a>
          </li>
      </ul>
  </div>
</footer>
